@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
body {
  background: #00000cf2;
}
.container {
  padding: 0 100px;
}
@media (max-width: 700px) {
  .container {
    padding: 0 20px;

  }
}
.page {
  background: #f0fdf4;
  padding: 40px;
  height: 100vh;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
@media (max-width: 1208px) {
  .page {
    margin-left: 0;
    border-radius: 0;
  }
}
@media (max-width: 485px) {
  .page {
    padding: 40px 20px;
  }
}
@media (max-width: 460px) {
  .logo {
    width: 100%;
  }
}
.form-title{
  font-size: 1.75rem;
  color: #111;
  margin-bottom: 30px;
}
.form-component {
  padding-top: 40px;
  padding-bottom: 60px;
  min-height: 100vh;
  background: #ffffff;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.form-component h2 {
  color: rgb(255, 255, 255);
  letter-spacing: 4px;
  margin-bottom: 30px;
}
.form-component h4 {
  color: gray;
  font-weight: 700;
  margin-bottom: 20px;
}
.form-component p {
  max-width: 750px;
  color: gray;
  margin-bottom: 20px;
  text-align: center;
}
.form-component form {
  
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: white;
  padding: 30px;
  width: 550px;
}
.add-admin-form form {
  
  
  width: 100%;
  background-color: white;
  
}
.form-component p:first-child {
  font-size: 28px;
  font-weight: 700;
  color: #166534;
  margin-top: 30px;
}
.form-component form div {
  display: flex;
  gap: 30px;
}
.form-component form input,
.form-component form select,
.form-component form textarea {
  flex: 1;
  font-size: 24px;
  padding: 10px 10px 10px 40px;
  border-radius: 7px;
  border: 1px solid gray;
}
.form-component button {
  padding: 10px 35px;
  color: #fff;
  font-weight: 700;
  width: fit-content;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  margin-bottom: 30px;
  background: #166534;
}
.form-component .wrapper {
  display: flex;
  gap: 50px;
}
.form-component .wrapper .banner {
  flex: 1;
}
.form-component .wrapper .banner:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-component .wrapper .banner:last-child img {
  max-width: 450px;
}
@media (max-width: 888px) {
  .form-component {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .form-component form div {
    flex-direction: column;
  }
}
@media (max-width: 667px) {
  .form-component form input,
  .form-component form select,
  .form-component form textarea {
    font-size: 20px;
    padding: 10px;
  }
}
@media (max-width: 600px) {
  .form-component form {
    width: 100%;
  }
}
@media (max-width: 485px) {
  .add-admin-form {
    padding: 30px 0;
  }
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dashboard .banner:first-child {
  height: 35vh;
  display: flex;
  gap: 20px;
}
.dashboard .banner:first-child .firstBox {
  flex: 2;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: #166534;
  padding: 20px 20px 0 10px;
}
.dashboard .banner:first-child .firstBox img {
  height: 100%;
  flex: 1;
}
.dashboard .banner:first-child .firstBox .content {
  flex: 2;
}
.dashboard .banner:first-child .firstBox .content div {
  display: flex;
  align-items: center;
  font-size: 34px;
  margin-bottom: 12px;
}
.dashboard .banner:first-child .firstBox .content div p {
  margin-right: 10px;
  font-size: 34px;
}
.dashboard .banner:first-child .firstBox .content div h5 {
  color: #166534;
}
.dashboard .banner:first-child .firstBox .content p {
  font-size: 16px;
}
.dashboard .banner:first-child .secondBox {
  background: #166534;
  color: #fff;
}
.dashboard .banner:first-child .thirdBox {
  color: #166534;
  background: #fff;
}
.dashboard .banner:first-child .secondBox,
.dashboard .banner:first-child .thirdBox {
  flex: 1;
  border-radius: 20px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}
.dashboard .banner:first-child .secondBox p,
.dashboard .banner:first-child .thirdBox p {
  font-size: 24px;
  font-weight: 600;
}
.dashboard .banner:first-child .secondBox h3,
.dashboard .banner:first-child .thirdBox h3 {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
}
.dashboard .banner:last-child {
  height: 65vh;
  background: #fff;
  border-radius: 20px;
  padding: 40px;
}
.dashboard .banner:last-child h5 {
  font-size: 24px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: #111;
}
.dashboard .banner table {
  width: 100%;
  color: #111;
  font-size: 20px;
}
.dashboard .banner table select {
  font-size: 20px;
  border: none;
  width: 100%;
  font-weight: 600;
}
.dashboard table td svg{
  display: flex;
  margin: 0 auto;
}
.dashboard table td .green{
  font-size: 20px;
  color: #16a34a;
}
.dashboard table td .red{
  font-size: 20px;
  color: #dc2626;
}
.dashboard .banner table select:focus {
  outline: none;
}
.dashboard .banner table .value-pending {
  color: #eab308;
}
.dashboard .banner table .value-accepted {
  color: #16a34a;
}
.dashboard .banner table .value-rejected {
  color: #dc2626;
}
.dashboard .banner table thead {
  text-align: justify;
  padding: 12px 0;
}
.dashboard .banner table thead th {
  padding: 12px 0;
}
.dashboard .banner table tbody td {
  padding: 12px 0;
}
@media (max-width: 1376px) {
  .dashboard .banner:first-child .firstBox .content div,
  .dashboard .banner:first-child .firstBox .content div p {
    font-size: 26px;
  }
  .dashboard .banner:first-child .firstBox .content p {
    font-size: 14px;
  }
  .dashboard .banner:first-child .secondBox p,
  .dashboard .banner:first-child .thirdBox p,
  .dashboard .banner:first-child .secondBox h3,
  .dashboard .banner:first-child .thirdBox h3 {
    font-size: 20px;
  }
}
@media (max-width: 1020px) {
  .dashboard {
    height: fit-content;
  }
  .dashboard .banner:first-child,
  .dashboard .banner:last-child {
    flex-wrap: wrap;
    height: fit-content;
  }
  .dashboard .banner:first-child .firstBox {
    flex: none;
    width: 100%;
    height: 265px;
  }
  .dashboard .banner:first-child .secondBox,
  .dashboard .banner:first-child .thirdBox {
    height: 175px;
  }
}
@media (max-width: 620px) {
  .dashboard .banner:first-child .secondBox,
  .dashboard .banner:first-child .thirdBox {
    width: 100%;
    flex: none;
  }
}
@media (max-width: 485px) {
  .dashboard .banner:first-child .firstBox {
    flex-direction: column;
    height: fit-content;
    padding: 20px;
  }
  .dashboard .banner:first-child .firstBox img {
    width: 270px;
    height: 270px;
    margin-bottom: 25px;
  }
  .dashboard .banner:first-child .firstBox div {
    justify-content: center;
  }
}

.wrapper {
  display: none;
}
.wrapper .hamburger {
  display: none;
}

@media (max-width: 485px) {
  .wrapper {
    left: 20px;
  }
  .show {
    width: 80px;
  }
}

.doctors h1 {
  color: #166534;
  margin-bottom: 30px;
  font-size: 2.3rem;
}
.doctors .banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-gap: 20px;
}
.doctors .banner .card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.doctors .banner .card img {
  width: 270px;
  height: 270px;
  border-radius: 100%;
  margin-bottom: 20px;
}
.doctors .banner .card h4 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}
.doctors .banner .card div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 20px;
}
.doctors .banner .card div p {
  font-weight: 700;
}
.doctors .banner .card div p span {
  font-weight: 500;
}

@media (max-width: 350px) {
  .doctors .banner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-gap: 20px;
  }
}

.messages h1 {
  color: #3939d9f2;
  margin-bottom: 30px;
  font-size: 2.3rem;
}
.messages .banner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.messages .banner .card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
}
.messages .banner .card div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 20px;
}
.messages .banner .card div p {
  font-weight: 700;
}
.messages .banner .card div p span {
  font-weight: 500;
}

.add-doctor-form {
  width: 100%;
  display: flex;

  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 0;
}
.add-doctor-form form {
  width: 100%;
}
.add-doctor-form form .first-wrapper {
  display: flex;
  gap: 30px;
}
.add-doctor-form form .first-wrapper div:first-child {
  flex: 1;
}
.add-doctor-form form .first-wrapper div:first-child img {
  width: 100%;
  height: 515px;
  margin-bottom: 20px;
}
.add-doctor-form form .first-wrapper div:first-child input {
  width: 100%;
  padding: 10px;
}
.add-doctor-form
  form
  .first-wrapper
  div:first-child
  input:file-selector-button {
  position: absolute;
  width: 100%;
}
.add-doctor-form form .first-wrapper div:last-child {
  flex: 2;
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.add-doctor-form form input,
.add-doctor-form form select,
.add-doctor-form form textarea {
  flex: 1;
  font-size: 24px;
  padding: 10px 10px 10px 40px;
  border-radius: 7px;
  border: 1px solid gray;
}
.add-doctor-form button {
  padding: 10px 35px;
  color: #fff;
  font-weight: 700;
  width: fit-content;
  border: none;
  border-radius: 8px;

  font-size: 1rem;
  margin-bottom: 30px;
  background: #166534;
}
@media (max-width: 945px) {
  .add-doctor-form form .first-wrapper {
    flex-direction: column;
  }
  .add-doctor-form form .first-wrapper div:first-child img {
    height: auto;
  }
}
input[type="date"]:before {
  content: attr(placeholder);
  color: #444;
  margin-right: 0.5em;
}
input[type="time"]:before {
  content: attr(placeholder);
  color: #444;
  margin-right: 0.5em;
}

:root {
  --primary-color: #007bff;
  --secondary-color: #219623;
  --background-color: #f0fdf4;
  --form-background-color: #f0fdf4;
  --input-border-color: #f0fdf4;
  --text-color: #333;
  --title-color: #166534;
}

body {
  background-color: var(--background-color);
}

.container {
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  justify-content: center;
  padding: 20px;
}

.form-header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 150px;
  margin-bottom: 10px;
}

.form-title {
  font-size: 2rem;
  color: var(--title-color);
}

.login-form {
  background-color: var(--form-background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(36, 19, 166);
  width: 100%;
  max-width: 400px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  font-size: 1rem;
}

.form-group input:focus {
  border-color: var(--input-focus-border-color);
  outline: none;
}

.form-submit {
  text-align: center;
}

.form-submit button {
  background-color: var(--button-background-color);
  color: #574141;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.form-submit button:hover {
  background-color: var(--button-hover-background-color);
}


:root {
  --primary-color: #0b130d;
  --secondary-color: #0e8bf8;
  --background-color: #ffffff;
  --form-background-color: #fff;
  --input-border-color: #ddd;
  --input-focus-border-color: #7ace1f;
  --button-background-color: #01ad32;
  --button-hover-background-color: #ce1bc5;
  --text-color: #333;
  --title-color: #166534;
  --banner-background: #e9ecef;
  --card-background: #fff;
  --card-shadow: rgba(0, 0, 0, 0.1);
  --pending-color: #ffc107;
  --accepted-color: #28a745;
  --rejected-color: #dc3545;
}

body {
  background-color: var(--background-color);
}

.dashboard .banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--banner-background);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px var(--card-shadow);
  margin-bottom: 20px;
}

.dashboard .firstBox {
  display: flex;
  align-items: center;
}

.dashboard .firstBox img {
  max-width: 100px;
  margin-right: 20px;
}

.dashboard .content p {
  margin: 0;
}

.dashboard .content h5 {
  margin: 5px 0;
  color: var(--primary-color);
}

.dashboard .secondBox,
.dashboard .thirdBox {
  background-color: var(--card-background);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px var(--card-shadow);
  text-align: center;
}

.dashboard .secondBox p,
.dashboard .thirdBox p {
  margin: 0;
}

.dashboard .secondBox h3,
.dashboard .thirdBox h3 {
  margin-top: 10px;
  color: var(--primary-color);
}

.appointments-banner {
  background-color: var(--banner-background);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px var(--card-shadow);
}

.appointments-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.appointments-table th,
.appointments-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #5f0e0e;
}

.appointments-table th {
  background-color: var(--primary-color);
  color: #f1f2f4;
}

.appointments-table td select {
  padding: 5px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
}

.value-pending {
  color: var(--pending-color);
}

.value-accepted {
  color: var(--accepted-color);
}

.value-rejected {
  color: var(--rejected-color);
}

.green {
  color: var(--accepted-color);
}

.red {
  color: var(--rejected-color);
}


/*

Vishwas Dubey

*/

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0fdf4;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f0fdf4;
}

.welcome {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: green;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.stats {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.stat-card {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 200px;
}

.stat-card h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.stat-card p {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.content {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
}

.appointments-table {
  width: 100%;
  border-collapse: collapse;
}

.appointments-table th, .appointments-table td {
  border: 1px solid #ddd;
  padding: 8px;
}


.footer {
  background-color: #333;
  padding: 10px;
}

.navigation {
  display: flex;
  justify-content: space-around;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.nav-item.active {
  background-color: green;
  border-radius: 8px;
}

.bottom-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.bottom-navbar .nav-item {
  color: #343a40;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.bottom-navbar .nav-item:hover {
  color: #166534;
}

.bottom-navbar .nav-item:active {
  color: #166534;
}



/*
login
*/

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #F0fdf4;
}

.login-header {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

.login-title {
  font-size: 2.5rem;
  color: #166534;
  font-weight: bold;
}

.login-subtitle {
  font-size: 1.2rem;
  color: #757575;
}

.login-form {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-group {
  width: 100%;
  margin-bottom: 15px;
}

.login-form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #166534;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 1rem;
}

.login-btn:hover {
  background-color: #1b5e20;
}


/*
css for add dashboard
*/

.page {
  padding: 20px;
}

.header {
  margin-bottom: 20px;
  text-align: center;
  background-color: #d4f7e2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.greeting {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.welcome-message {
  font-size: 20px;
  font-weight: bold;
  color: #4caf50;
  margin-top: 10px;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.stat-card {
  background-color: #499154;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  flex: 1 1 30%;
  margin: 10px;
  min-width: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.appointments-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.appointments-table th,
.appointments-table td {
  padding: 10px;
  border: 1px solid #070000;
  text-align: left;
}

.appointments-table th {
  background-color: #0a0000;
}

.appointments-table td select {
  padding: 5px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.content h5 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}
